<div class="container">
        <h2>About Us</h2>
        <div class="row">
            <div class="col">
                <div class="info"  id="team_member_1" >
                        <img class="profile-img" src="\assets\images\brajesh.jpg">
                        <div >Brajesh Singh</div>
                        <div > bs9600908@gmail.com</div>
                        <div>Software Design Engineer</div>
                        <div>+91-8400956198</div>
                        <hr>
                        <div>MNNIT Allahabad</div>
						<hr/>
						
						<a href="https://www.linkedin.com/in/brajesh-singh-21923a147/"><img class="social-logo" src="\assets\images\linked.png"></a>
						<a href="https://github.com/singhbrajesh4142"><img class="social-logo" src="\assets\images\github.png"></a>
						
                </div>
            </div>
            
        </div>
        
        
</div>